Source: ros-hydro-opencv-tests
Section: misc
Priority: extra
Maintainer: Vincent Rabaud <vrabaud@willowgarage.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin, ros-hydro-cv-bridge, ros-hydro-ros, ros-hydro-sensor-msgs
Homepage: http://pr.willowgarage.com/wiki/opencv_tests
Standards-Version: 3.9.2

Package: ros-hydro-opencv-tests
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-cv-bridge
Description: opencv_tests
